body{
  height: 100vh;
  width:98vw;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:black!important;
}

*{
 
}
@media (max-width: 380px) {
body{
  height:  auto;
}


}
